<div class="row">
    <div class="col-md-8 offset-md-2 text-center">
        <h2 class="text-center">
            <%= humanize(contest.Title) %><br>
            <%= if (current_host) { %>
            <a href="<%= editContestsPath({cid: contest.ID}) %>"><i class="fa fa-edit text-success"></i></a>
            <a href="<%= contestsDeletePath({cid: contest.ID}) %>"><i class="fa fa-trash text-danger"></i></a>
            <% } %>
        </h2>
        <p class="author font-italic">
            by
            <%= humanize(host.Hostname) %>
        </p>
        <p>
            <%= markdown(contest.Description) %>
        </p>
        <%= if (current_host) { %>
        <div class="text-center">
        </div>
        <% } %>
        <a href="<%= leaderboardDisplayPath({cid: contest.ID}) %>" class="btn btn-warning">
            Leaderboard<i class="fa fa-trophy"></i>
        </a>
        <%= if (current_host) { %>
        <a href="<%= questionsCreatePath({cid: contest.ID}) %>" class="btn btn-primary">
            Add Question<i class="fa fa-plus"></i>
        </a>
        <% } %>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8">
        <%= for (q) in questions { %>
        <%= if (current_host) { %>
        <a href="<%= questionsDetailPath({qid: q.ID}) %>">
            <h3>
                <%= humanize(q.Title) %>
            </h3>
        </a>
        <% } else if (current_user) { %>
        <a href="<%= submissionsCreatePath({cid:q.ContestID, qid: q.ID}) %>">
            <h3>
                <%= humanize(q.Title) %>
            </h3>
        </a>
        <% } %>
        <p>
            <%= markdown(truncate(q.Description, {"size": 200})) %>
        </p>
        <hr>
        <% } %>
    </div>
</div>
<div class="row">
    <div class="col">
        <%= paginator(qPagination) %>
    </div>
</div>