<div class="row">
    <div class="col-md-3 offset-md-9">
        <%= if (current_host) { %>
            <a href="<%= contestsCreatePath() %>" class="btn btn-success">Create New Contest</a>
        <% } %>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <%= for (c) in contests { %>
            <hr>
            <a href="<%= contestsDetailPath({cid: c.ID}) %>"><h1><%= c.Title %></h1></a>
            <p><%= markdown(truncate(c.Description, {"size": 200})) %></p>
        <% } %>
    </div>
</div>
<div class="row">
    <div class="col">
        <%= paginator(pagination) %>
    </div>
</div>