
<div class="row">
    <div class="col-md-4 offset-md-1">
        <a href="<%= contestsDetailPath({cid: contest.ID}) %>" class="btn btn-success">Back to Contest</a>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="text-center"><%= question.Title %></h1>
        <p>Contest: <span class="author"><%= contest.Title %></span></p>
        <p><%= markdown(question.Description) %></p>

        <form action="<%= submissionsCreatePath({qid: question.ID}) %> " enctype="multipart/form-data" method="POST">
            <%= csrf() %>
            <div class="form-group">
                
                <h4>Upload code</h4>
                <input class="form control" type="file" name="SubmissionFile" accept=".c" id="submission_file" value="<%= submission.SubmissionFile %>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>