<div>
    <a href="<%= contestsDetailPath({cid: contest.ID}) %>" class="btn btn-success">
        <i class="fa fa-arrow-left"></i>
        Back to Contest
    </a>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-center">
            <%= humanize(question.Title) %>
            <br>
            <%= if (current_host) { %>
            <a href="<%= editQuestionsPath({qid: question.ID}) %>"><i class="fa fa-edit text-success"></i></a>
            <a href="<%= questionsDeletePath({qid: question.ID}) %>"><i class="fa fa-trash text-danger"></i></a>
            <% } %>
        </h2>
        <p>Contest: <span class="author">
                <%= humanize(contest.Title) %></span></p>
        <p>
            <%= markdown(question.Description) %>
        </p>

    </div>
</div>