<div class="row mt-5">
    <div class="col text-center">
        <h2>Want to host a programming contest?</h2>
        You have come to the right place.
    </div>
</div>
<div class="text-center mt-4">
    <p>
        Create a new contest for other programmers to compete in.
        <br>
    </p>
</div>

<div class="row mt-5">
    <div class="col text-center">
        <a href="<%= hostsLoginPath() %>" class="btn btn-outline-success" role="button">
            Host Login
            <i class="fa fa-sign-in"></i>
        </a>
        <a href="<%= hostsRegisterPath() %>" class="btn btn-success" role="button">
            Host Registration
            <i class="fa fa-user-plus"></i>
        </a>
    </div>
</div>